:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

[step-1] {

    h1 {
        &.light {
            font-weight: 300;
        }
    }

    i {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 60px;
        color: #646464;
    }

}