:host {
    width: 100%;
    height: 100%;
    display: flex;
}

[input] {
    background-color: #eee;

    [block] {
        margin: 10px;
        display: flex;
        flex-direction: column;    
        
        mat-form-field {
            margin: 10px 0;
        }

        h2 {
            font-weight: 400;
        }
    }
}

[output] {
    background-color: #f7f7f7;
    flex-direction: row;
    display: flex;
    justify-content: center;

    [block] {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}